[Unit]
Description=389DS exporter

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/389DS-exporter
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
